In [1]:
import numpy as np       
x = np.array([2, 3, 5, 7, 11, 13])       
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [3]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']       
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [5]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']       
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [6]:
import pandas as pd       
names = pd.Series(data)       
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [7]:
 names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [8]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',                          'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [9]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [10]:
 monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [11]:
 monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [12]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [13]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [14]:
 monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [15]:
 monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [16]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [18]:
full_monte = pd.DataFrame({'name': monte,'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C','B|C|D']}) 
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [20]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [7]:
#https://github.com/sameergarg/scala-elasticsearch/blob/master/conf/recipeitems-latest.json.gz

In [40]:
#import json

In [1]:
import pandas as pd       

try:
    recipes = pd.read_json('recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

ValueError: Trailing data

In [2]:
with open('recipeitems-latest.json') as f:
    line = f.readline()
pd.read_json(line).shape

(2, 12)

In [15]:
# read the entire file into a Python array
#import pandas as pd
with open('recipeitems-latest.json', 'r', encoding='utf8') as f:
    # Extract each line
    data = (line.strip() for line in f)
    # Reformat so each line is the element of a list
    data_json = "[{0}]".format(','.join(data))
# read the result as a JSON
recipes = pd.read_json(data_json)

MemoryError:

In [9]:
recipes.shape

(1, 1)

In [7]:
recipes.iloc[0]

0    0
Name: 0, dtype: int64

In [10]:
recipes.ingredients.str.len().describe()

AttributeError: 'DataFrame' object has no attribute 'ingredients'

In [22]:
recipes.name[np.argmax(recipes.ingredients.str.len())]

AttributeError: 'DataFrame' object has no attribute 'name'

In [4]:
recipes.description.str.contains('[Bb]reakfast').sum()

AttributeError: 'DataFrame' object has no attribute 'description'

In [ ]:
recipes.ingredients.str.contains('[Cc]innamon').sum()

In [ ]:
recipes.ingredients.str.contains('[Cc]inamon').sum()

In [4]:
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley','rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

In [5]:
import re
spice_df = pd.DataFrame(dict((spice, recipes.ingredients.str.contains(spice, re.IGNORECASE))for spicein spice_list))
spice_df.head()

SyntaxError: invalid syntax (<ipython-input-5-ef4d7db5384f>, line 2)

In [6]:
selection = spice_df.query('parsley & paprika & tarragon')
len(selection)

NameError: name 'spice_df' is not defined

In [7]:
recipes.name[selection.index]

NameError: name 'recipes' is not defined